In [23]:
import pandas as pd

In [31]:
df = pd.read_csv("https://raw.githubusercontent.com/Yorko/mlcourse.ai/refs/heads/main/data/adult.data.csv")

In [32]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [33]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [34]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [35]:
df['sex'].unique()

array(['Male', 'Female'], dtype=object)

In [42]:
df[df['sex']=='Female']['age'].mean()

36.85823043357163

In [79]:
len(df[df['native-country']=="Germany"])

137

In [80]:
len(df)

32561

In [81]:
len(df[df['native-country']=="Germany"])/len(df)

0.004207487485028101

In [87]:
df['salary'].value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [93]:
df[df['salary']==">50K"]['age'].describe()

count    7841.000000
mean       44.249841
std        10.519028
min        19.000000
25%        36.000000
50%        44.000000
75%        51.000000
max        90.000000
Name: age, dtype: float64

In [95]:
df[df['salary']=="<=50K"]['age'].describe()

count    24720.000000
mean        36.783738
std         14.020088
min         17.000000
25%         25.000000
50%         34.000000
75%         46.000000
max         90.000000
Name: age, dtype: float64

In [98]:
df[df['salary']==">50K"]["education"].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

In [99]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [102]:
max(df[df['race']=='Amer-Indian-Eskimo']["age"])

82

In [107]:
df[df['sex']=="Male"]["marital-status"].unique()

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Widowed',
       'Married-AF-spouse'], dtype=object)

In [120]:
len(df[(df['sex'] == "Male") & (df['marital-status'].isin(["Married-civ-spouse", "Married-spouse-absent", "Married-AF-spouse"])) & (df["salary"]==">50K")])

5965

In [121]:
len(df[(df['sex'] == "Male") & (df['marital-status'].isin(["Never-married", "Divorced", "Separated", "Widowed"])) & (df["salary"]==">50K")])

697

In [123]:
max(df['hours-per-week'])

99

In [126]:
len(df[df['hours-per-week']==99])

85

In [128]:
len(df[(df['hours-per-week']==99)&(df["salary"]==">50K")])/len(df[df['hours-per-week']==99])

0.29411764705882354

In [132]:
df[(df["native-country"]=="Japan")&(df["salary"]=="<=50K")]["hours-per-week"].mean()

41.0